.lefter {
  float:left;
  margin-bottom: 10px;
}

#clientField {
  width: 100px;
}

.submitDiv {
  text-align: center;
}

.mainTable {
  border-radius: 6px;
  border: 2px solid #85BDE4;
}

.mainTable th {
  box-shadow: 2px 2px #777;
}

.mainTable tbody tr:nth-of-type(odd) {
    background-color: rgba(94, 93, 82, 0.0);
}

.mainTable tbody tr:nth-of-type(even) {
    background-color: rgba(94, 93, 82, 0.2);
}

.priceField {
  width: 60px;
  text-align: right;
}
