.charger-table {
    font-size: 12px;
    text-align: right;
}

.detail {
    display: none;
}

.inputbox {
    width: 150px;
}

#searchbox {
    border-radius: 3px;
}

.charger-serial {
    width: 140px;
}

.edit-button {
    width: 60px;
}

.delete-button {
    color: red;
    margin-right: 30px;
}

#printButton {
    margin: 5px;
    display: none;
}