.lefter {
    float:left;
    margin-bottom: 10px;
}

.righter {
    float:right;
    margin-bottom: 10px;
}

.greyed {
    background-color: LightGray;
}

.whited {
    background-color: White;
}

.editor {
    width: 68px;
}

.deleter {
    color: red;
}

.newNameField {
    border-radius: 3px 0px 0px 3px;
    text-align: right;
    margin-right: 5px;
}

.newNameField:hover {
    border: 1px solid red;
}

.inputField {
    border-radius: 3px;
    text-align: right;
    width: 140px;
}

.inputField:hover {
    border: 1px solid red;
}

.newNameAdder {
    border-radius: 0px 4px 4px 0px;
}

.newNameAdder:hover {
    outline: 1px solid red;
}

.button {
    border-radius: 3px;
}

.button:hover {
    outline: 1px solid red;
}

.error {
    color: red;
    text-align: center;
}

.abutton {
    display: block;
    border-style: solid;
    border-width: 1px;
    padding: 4px;
    text-align: center;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    margin: 1px;
}

#content {
    clear: both;
}

.choice {
    background: none;
    width: 200px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.hidden {
    display: none;
}

.widther {
    width: 200px;
}

.observation_edit_button_holder {
    float:left;
}

.observation_delete_button_holder {
    float:right;
}

.red {
    background-color:red;
}

.shortcode {
    width: 100px;
}

.full_name {
    width: 300px;
}

.editable_field {
    padding-top: 4px;
    padding-bottom: 4px;
}

.actions {
    width: 90px;
}

.table {
    min-width: 1060px;
}

.column {
    float:left;
    overflow: hidden;
    margin: 3px;
}