.lefter {
  float: left;
}

.item {
  display: inline-block;
}

.chkbx-title{
  float: left;
  display: block;
}

.chkbx {
  float:left;
  width:15px;
}

.textbox {
  margin-right: 10px;
  width: 140px;
}

.checkbox-wrapper {
  text-align: center;
}

.checkbox {
  width: 20px;
  display: inline-block;
}

.multiple-checkbox-holder {
  vertical-align: top;
  border-style: inset;
}

.title {
  vertical-align: top;
}

th, td {
font-size: 13px;
}

th {
text-align: right;
padding-right: 10px;
}

input {
  width: 260px;
}

.edit_width {
  width: auto;
}

input:read-only {
  background-color: darkgrey;
}

.error {
  color: red;
  text-align: center;
}

.lefter {
  float:left;
}

.righter {
  float:right;
}

.upper {

}

.error {
  color: red;
  text-align: center;
}

.marBot {
  margin-bottom: 5px;
}

#clientField {
  width: 100px;
}

.submitDiv {
  width: auto;
}

.mainTable {
  border-radius: 6px;
  border: 2px solid #85BDE4;
}

.mainTable th {
  box-shadow: 2px 2px #777;
}

.mainTable tbody tr:nth-of-type(odd) {
    background-color: rgba(94, 93, 82, 0.0);
}

.mainTable tbody tr:nth-of-type(even) {
    background-color: rgba(94, 93, 82, 0.2);
}

input.searchButton {
  width: 400px;
}

#searchResults {
    border-radius: 4px;
    border: 2px solid black;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

.searchTable {
    width: 100%;
    background-color: #f8f8f8;
    opacity: .85;
}

.message {
    background-color: #f8f8f8;
    opacity: .85;
    font-weight: bold;
    color: red;
}

.searchTable th {
    border-radius: 6px;
    border-bottom: 2px solid lightGrey;
}

.searchTable thead, tr, tbody {
    width: 100%;
}

.center {
    text-align: center;
}

.searchTable tbody tr:nth-of-type(odd) {
    background-color: rgba(94, 93, 130, 0.0);
    text-align: center;
}

.searchTable tbody tr:nth-of-type(even) {
    background-color: rgba(94, 93, 130, 0.4);
    text-align: center;
}

.searchTable tbody {
    display: block;
    max-height: 500px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.hidden {
    display: none;
}

.search_left_button {
    border-radius: 4px 2px 2px 10px;
    border: 1px solid darkgrey;
    height: 26px;
}

.search_input_text {
    border: 1px solid darkgrey;
    border-radius: 2px 2px 2px 2px;
    text-align: center;
    height: 22px;
}

.search_right_button {
    border: 1px solid darkgrey;
    height: 26px;
    border-radius: 2px 4px 10px 2px;
    height: 26px;
}