body {
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    color: #5e5d52;
}

.container {
    flex: 1 100%;
}

.main-table thead th {
    background-color: #1d96b2;
    border: 1px solid #1d96b2;
    font-weight: normal;
    text-align: center;
    color: white;
}

.main-table thead th:first-of-type {
    text-align: left;
}

.main-table tbody,
.main-table tr,
.main-table th,
.main-table td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
}

.main-table tr {
    display: table-row;
}

.main-table th,
.main-table td {
    padding: .5em;
    vertical-align: middle;
}
          
.main-table th,
.main-table td {
    padding: .75em .5em;
}

.main-table th,
.main-table td {
    display: table-cell;
    padding: .5em;
}

.maine-table th,
.main-table td {
    padding: .75em .5em;
}
          
.main-table th,
.main-table td {
    padding: .75em;
}

.main-table caption {
    margin-bottom: 1em;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

.main-table caption {
    font-size: 1.5em;
}

.main-table tfoot {
    font-size: .8em;
    font-style: italic;
}
          
.main-table tfoot {
      font-size: .9em;
  }
          
.main-table tbody {
      display: table-row-group;
  }
          
.main-table tbody tr {
    margin-bottom: 1em;
    border: 2px solid #1d96b2;
}
          
.main-table tbody tr {
    display: table-row;
    border-width: 1px;
}
          
.main-table tbody tr:last-of-type {
    margin-bottom: 0;
}
          
.main-table tbody tr:nth-of-type(even) {
    background-color: rgba(94, 93, 82, 0.1);
}
          
.main-table tbody th[scope="row"] {
  background-color: #1d96b2;
  color: white;
}

.main-table tbody th[scope="row"] {
    background-color: transparent;
    color: #5e5d52;
    text-align: left;
}

.main-table tbody td {
    text-align: right;
}

.main-table tbody td {
    border-bottom: 1px solid #1d96b2;
}
          
.main-table tbody td {
    text-align: center;
}

.container-search {
    width: 400px;
    height: 50px;
    padding: 15px;
    margin-top: 35px;
}

.search {
    width: 300px;
}

.header img {
    float: left;
    width: 200px;
    height: 80px;
    background: #555;
}

.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
}

header {
    background-image: url(img/Logo.jpg);
    width: 170px;
    height: 70px;
}

.pic-button:hover {
    cursor: pointer;
}

.visible-section {
    margin: 5px;
}

.show-hide-section {
    text-align:center;
    margin: 5px;
}

.show-hide-button {
    margin-top: 10px;
    border-radius: 9px 9px 4px 4px;
}

.table {
    border-style: outset;
    border-radius: 6px;
}

.section-member {
    text-align:center;
    display: inline-block;
}

.table-holder {
    padding: 5px;
    display: inline-block;
    position: relative;
}

th, td {
    font-size: 13px;
}

th {
    text-align: right;
    padding-right: 10px;
}

input {
    width: 160px;
}

.edit_width {
    width: auto;
}

input:read-only {
    background-color: darkgrey;
}

.hidden {
    display: none;
}

.search_result_adder {
    z-index: 1;
}

.search_result_adder tr:nth-of-type(odd) {
    background-color: rgba(94, 93, 130, 0.0);
    text-align: center;
}

.search_result_adder tr:nth-of-type(even) {
    background-color: rgba(94, 93, 130, 0.4);
    text-align: center;
}

.search_result_adder table {
    border-collapse: collapse;
    width: 300px;
}

.search_result_adder td {
    border: 1px solid black;
}

.top-choices {
    width: 100%;
    height: 70px;
}

.line-choice-menu {
    padding-top: 34px;
}

.modaljs {
    position: fixed;
    top: 10%;
    padding: 40px 50px;
    background-color: white;
    z-index: 10000;
    width: 600px;
    min-height: 100px;
    display: none;
    left: 50%;
    margin-left: -300px;
    overflow: auto;
    max-height: 60%;
    border-bottom: solid 5px;
    box-sizing: border-box;
    box-shadow: 2px 2px 13px 2px #555;
    overflow: auto;
    border-radius: 10px;
    display:none;
}

.modaljs.on{
    display:block;
}

.modal-js-overlay{
    background:#444;
    opacity:.8;
    position:fixed;
    top:0px;
    width:100%;
    height:100%;
    z-index:1000;
    left:0px;
}

.modal-js-close {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 20pt;
    cursor: pointer;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    font-weight: bold;
}

.modaljs.shelf {
    top:0px;
    right:0px;
    left: auto;
    height: 100%;
    max-height:100%;
    width:50%;
}

.modaljs{
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    left: 0px;
    margin-left: 0px;
}

.modaljs button {
    display: block;
    margin: auto;
    text-align: center;
}

.close_button {
    position: absolute;
    background: red;
    color: white;
    top: -3px;
    right: -6px;
    border-radius: 10px;
}

.observation_textbox {
    width: 160px;
}

.input {
    width: 160px;
}