<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Computers being sold</title>
    <link rel="stylesheet" type="text/css" href="{% static 'catToSold.css' %}">
</head>
<body>
    <form>
        <div style="100%;">
            <div>
                <input class="marBot lefter" name="client" type="text" id="clientField" placeholder="Client"/>
            </div>
            <div class="submitDiv" align="center">
                <input class="marBot" type="submit" formmethod="post" value="Set computers as sold" />
            </div>
            <div class="error">
                {{ error_message|linebreaks }}
            </div>
        </div>
        <div class="tableHolder">
            <table class="mainTable">
                <thead>
                    <tr>
                        <th>Serial</th>
                        <th>Manufacturer</th>
                        <th>Model</th>
                        <th>CPU</th>
                        <th>GPU</th>
                        <th>RAM</th>
                        <th>Other</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for computer in computers %}
                    <tr>
                        <td>{{ computer.computer_serial }}</td>
                        <td>{{ computer.f_manufacturer.manufacturer_name }}</td>
                        <td>{{ computer.f_model.model_name }}</td>
                        <td>{{ computer.f_cpu.get_cpu }}</td>
                        <td>{{ computer.f_gpu.get_gpu }}</td>
                        <td>{{ computer.f_ram_size.ram_size_text }}</td>
                        <td>{{ computer.other }}</td>
                        <td><input name="price_{{ computer.id_computer }}" type="text" class="priceField" placeholder="Price"/></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</body>
</html>