<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Computers being sold</title>
    <link rel="stylesheet" type="text/css" href="{% static 'catToSold.css' %}">
</head>
<body>
    <form>
        <div class="submitDiv">
            <input name="client" type="text" class="lefter" id="clientField" placeholder="Client"/>
            <input type="submit" class="lefter" value="Set computers as sold" />
        </div>
        <div class="tableHolder">
            <table class="mainTable">
                <thead>
                    <tr>
                        <th>
                            Serial
                        </th>
                        <th>
                            Manufacturer
                        </th>
                        <th>
                            Model
                        </th>
                        <th>
                            CPU
                        </th>
                        <th>
                            GPU
                        </th>
                        <th>
                            RAM
                        </th>
                        <th>
                            Other
                        </th>
                        <th>
                            Price
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            serial
                        </td>
                        <td>
                            manufacturer
                        </td>
                        <td>
                            model
                        </td>
                        <td>
                            cpu
                        </td>
                        <td>
                            gpu
                        </td>
                        <td>
                            ram
                        </td>
                        <td>
                            other
                        </td>
                        <td>
                            <input name="client" type="text" class="priceField" placeholder="Price"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            serial
                        </td>
                        <td>
                            manufacturer
                        </td>
                        <td>
                            model
                        </td>
                        <td>
                            cpu
                        </td>
                        <td>
                            gpu
                        </td>
                        <td>
                            ram
                        </td>
                        <td>
                            other
                        </td>
                        <td>
                            <input name="client" type="text" class="priceField" placeholder="Price"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            serial
                        </td>
                        <td>
                            manufacturer
                        </td>
                        <td>
                            model
                        </td>
                        <td>
                            cpu
                        </td>
                        <td>
                            gpu
                        </td>
                        <td>
                            ram
                        </td>
                        <td>
                            other
                        </td>
                        <td>
                            <input name="client" type="text" class="priceField" placeholder="Price"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            serial
                        </td>
                        <td>
                            manufacturer
                        </td>
                        <td>
                            model
                        </td>
                        <td>
                            cpu
                        </td>
                        <td>
                            gpu
                        </td>
                        <td>
                            ram
                        </td>
                        <td>
                            other
                        </td>
                        <td>
                            <input name="client" type="text" class="priceField" placeholder="Price"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</body>
</html>