<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Overview of the computer</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<style>
th, td {
font-size: 13px;
}
th {
text-align: right;
padding-right: 10px;
}
</style>
<body>
    <header>
        <img src="{% static '/img/Logo.jpg' %}">
    </header>
    <table align="center">
        <tr>
            <th>Computer ID:</th>
            <td>{{ computer.id_computer }}</td>
        </tr>
        <tr>
            <th>Serial:</th>
            <td>{{ computer.serial }}</td>
        </tr>
        <tr>
            <th>Manufacturer:</th>
            <td>{{ computer.manufacturer }}</td>
        </tr>
        <tr>
            <th>Model:</th>
            <td>{{ computer.model }}</td>
        </tr>
        <tr>
            <th>CPU:</th>
            <td>{{ computer.cpu }}</td>
        </tr>
        <tr>
            <th>RAM:</th>
            <td>{{ computer.ram }}</td>
        </tr>
        <tr>
            <th>GPU:</th>
            <td>{{ computer.gpu }}</td>
        </tr>
        <tr>
            <th>HDD:</th>
            <td>{{ computer.hdd }}</td>
        </tr>
        <tr>
            <th>Diagonal:</th>
            <td>{{ computer.diagonal }}</td>
        </tr>
        <tr>
            <th>License:</th>
            <td>{{ computer.license }}</td>
        </tr>
        <tr>
            <th>Camera:</th>
            <td>{{ computer.camera }}</td>
        </tr>
        <tr>
            <th>Cover:</th>
            <td>{{ computer.cover }}</td>
        </tr>
        <tr>
            <th>Display:</th>
            <td>{{ computer.display }}</td>
        </tr>
        <tr>
            <th>Bezel:</th>
            <td>{{ computer.bezel }}</td>
        </tr>
        <tr>
            <th>Keyboard:</th>
            <td>{{ computer.keyboard }}</td>
        </tr>
        <tr>
            <th>Mouse:</th>
            <td>{{ computer.mouse }}</td>
        </tr>
        <tr>
            <th>Sound:</th>
            <td>{{ computer.sound }}</td>
        </tr>
        <tr>
            <th>CD-ROM:</th>
            <td>{{ computer.cdrom }}</td>
        </tr>
        <tr>
            <th>Battrery:</th>
            <td>{{ computer.battery }}</td>
        </tr>
        <tr>
            <th>HDD cover:</th>
            <td>{{ computer.hdd_cover }}</td>
        </tr>
        <tr>
            <th>RAM cover</th>
            <td>{{ computer.ram_cover }}</td>
        </tr>
        <tr>
            <th>Other</th>
            <td>{{ computer.other }}</td>
        </tr>
        <tr>
            <th>Tester:</th>
            <td>{{ computer.tester }}</td>
        </tr>
        <tr>
            <th>Date:</th>
            <td>{{ computer.getDate}}</td>
        </tr>
        <tr>
            <th>BIOS:</th>
            <td>{{ computer.bios }}</td>
        </tr>
    </table>
</body>
</html>