<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Computer deletion</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<style>
th, td {
font-size: 13px;
}
th {
text-align: right;
padding-right: 10px;
}
</style>
<body>
    <header>
        <img src="{% static '/img/Logo.jpg' %}">
    </header>
    <table align="center">
        <div align="center">
            <font size="4" color="red">Do you really want to delete this record?</font>
        </div>
        <form action="" method="post">
        <tr>
            <td></td>
            <td>
                <input type="submit" name="delete" value="Delete">
            </td>
        <tr>
        <tr>
            <th>Computer ID:</th>
            <td>
                <input type="text" name="id_computer" value="{{ computer.id_computer }}" readonly>
            </td>
        </tr>
        <tr>
            <th>Serial:</th>
            <td>
                <input type="text" name="serial" value="{{ computer.serial }}">
            </td>
        </tr>
        </form>
    </table>
</body>
</html>