{% if computers %}
<!-- todo: change 4v to 5v attributes -->
<table align="center" class="searchTable">
    <tbody id="tbody">
        {% for computer in computers %}
        <tr>
            <td>{{ computer.computer_serial }}</td>
            <td>{{ computer.f_category.category_name }}</td>
            <td>{{ computer.f_manufacturer.manufacturer_name }}</td>
            <td>{{ computer.f_model.model_name }}</td>
            <td>{{ computer.get_cpu }}</td>
            <td>{{ computer.get_gpu }}</td>
            <td>{{ computer.f_ram_size.ram_size_text }}</td>
            <td>{{ computer.getOther2lines|linebreaksbr }}</td>
            <td width="64"><button onclick="edit({{ computer.id_computer }})">Edit</button></td>
            <td width="64"><button onclick="add_to_order(this, {{ computer.id_computer }})">+</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p class="message">No computer fits this keyword</p>
{% endif %}