<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Overview of the computer</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<style>
th, td {
font-size: 13px;
}
th {
text-align: right;
padding-right: 10px;
}
</style>
<body>
    <header>
        <img src="{% static '/img/Logo.jpg' %}">
    </header>
    <table align="center">
        <form action="" method="post">
        <tr>
            <td></td>
            <td>
                <input type="submit" name="edit" value="Edit">
            </td>
        <tr>
        <tr>
            <th>Computer ID:</th>
            <td>
                <input type="text" name="id_computer" value="{{ computer.id_computer }}" readonly>
            </td>
        </tr>
        <tr>
            <th>Serial:</th>
            <td>
                <input type="text" name="serial" value="{{ computer.serial }}">
            </td>
        </tr>
        <tr>
            <th>Manufacturer:</th>
            <td>
                <input type="text" name="manufacturer" value="{{ computer.manufacturer }}">
            </td>
        </tr>
        <tr>
            <th>Model:</th>
            <td>
                <input type="text" name="model" value="{{ computer.model }}">
            </td>
        </tr>
        <tr>
            <th>CPU:</th>
            <td>
                <input type="text" name="cpu" value="{{ computer.cpu }}">
            </td>
        </tr>
        <tr>
            <th>RAM:</th>
            <td>
                <input type="text" name="ram" value="{{ computer.ram }}">
            </td>
        </tr>
        <tr>
            <th>GPU:</th>
            <td>
                <input type="text" name="gpu" value="{{ computer.gpu }}">
            </td>
        </tr>
        <tr>
            <th>HDD:</th>
            <td>
                <input type="text" name="hdd" value="{{ computer.hdd }}">
            </td>
        </tr>
        <tr>
            <th>Diagonal:</th>
            <td>
                <input type="text" name="diagonal" value="{{ computer.diagonal }}">
            </td>
        </tr>
        <tr>
            <th>License:</th>
            <td>
                <input type="text" name="license" value="{{ computer.license }}">
            </td>
        </tr>
        <tr>
            <th>Camera:</th>
            <td>
                <input type="text" name="camera" value="{{ computer.camera }}">
            </td>
        </tr>
        <tr>
            <th>Cover:</th>
            <td>
                <input type="text" name="cover" value="{{ computer.cover }}">
            </td>
        </tr>
        <tr>
            <th>Display:</th>
            <td>
                <input type="text" name="display" value="{{ computer.display }}">
            </td>
        </tr>
        <tr>
            <th>Bezel:</th>
            <td>
                <input type="text" name="bezel" value="{{ computer.bezel }}">
            </td>
        </tr>
        <tr>
            <th>Keyboard:</th>
            <td>
                <input type="text" name="keyboard" value="{{ computer.keyboard }}">
            </td>
        </tr>
        <tr>
            <th>Mouse:</th>
            <td>
                <input type="text" name="mouse" value="{{ computer.mouse }}">
            </td>
        </tr>
        <tr>
            <th>Sound:</th>
            <td>
                <input type="text" name="sound" value="{{ computer.sound }}">
            </td>
        </tr>
        <tr>
            <th>CD-ROM:</th>
            <td>
                <input type="text" name="cdrom" value="{{ computer.cdrom }}">
            </td>
        </tr>
        <tr>
            <th>Battrery:</th>
            <td>
                <input type="text" name="battery" value="{{ computer.battery }}">
            </td>
        </tr>
        <tr>
            <th>HDD cover:</th>
            <td>
                <input type="text" name="hdd_cover" value="{{ computer.hdd_cover }}">
            </td>
        </tr>
        <tr>
            <th>RAM cover</th>
            <td>
                <input type="text" name="ram_cover" value="{{ computer.ram_cover }}">
            </td>
        </tr>
        <tr>
            <th>Other</th>
            <td>
                <input type="text" name="other" value="{{ computer.other }}">
            </td>
        </tr>
        <tr>
            <th>Tester:</th>
            <td>
                <input type="text" name="tester" value="{{ computer.tester }}">
            </td>
        </tr>
        <tr>
            <th>Date:</th>
            <td>
                <input type="text" name="date" value="{{ computer.getDate }}">
            </td>
        </tr>
        <tr>
            <th>BIOS:</th>
            <td>
                <input type="text" name="bios" value="{{ computer.bios }}">
            </td>
        </tr>
        </form>
    </table>
</body>
</html>