<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Overview of the computer</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<style>
th, td {
font-size: 13px;
}
th {
text-align: right;
padding-right: 10px;
}
</style>
<body>
    <header>
        <img src="{% static '/img/Logo.jpg' %}">
    </header>
    <table align="center">
        <tr>
            <th>Computer ID:</th>
            <td>{{ computer.id_computer }}</td>
        </tr>
        <tr>
            <th>Serial:</th>
            <td>{{ computer.computer_serial }}</td>
        </tr>
            <th>Type:</th>
            <td>{{ computer.f_type.type_name }}</td>
        </tr>
            <th>Category:</th>
            <td>{{ computer.f_category.category_name }}</td>
        </tr>
        <tr>
            <th>Manufacturer:</th>
            <td>{{ computer.f_manufacturer.manufacturer_name }}</td>
        </tr>
        <tr>
            <th>Model:</th>
            <td>{{ computer.f_model.model_name }}</td>
        </tr>
        <tr>
            <th>CPU:</th>
            <td>{{ computer.f_cpu.cpu_name }}</td>
        </tr>
        <tr>
            <th>GPU:</th>
            <td>{{ computer.f_gpu.gpu_name }}</td>
        </tr>
        <tr>
            <th>RAM:</th>
            <td>{{ computer.f_ram_size.ram_size_text }}</td>
        </tr>
        <tr>
            <th>HDD:</th>
            <td>{{ computer.f_hdd_size.hdd_sizes_name }}</td>
        </tr>
        <tr>
            <th>Diagonal:</th>
            <td>{{ computer.f_diagonal.diagonal_text }}</td>
        </tr>
        <tr>
            <th>License:</th>
            <td>{{ computer.f_license.license_name }}</td>
        </tr>
        <tr>
            <th>Camera:</th>
            <td>{{ computer.f_camera.option_name }}</td>
        </tr>
        <tr>
            <th>Cover:</th>
            <td>{{ computer.cover }}</td>
        </tr>
        <tr>
            <th>Display:</th>
            <td>{{ computer.display }}</td>
        </tr>
        <tr>
            <th>Bezel:</th>
            <td>{{ computer.bezel }}</td>
        </tr>
        <tr>
            <th>Keyboard:</th>
            <td>{{ computer.keyboard }}</td>
        </tr>
        <tr>
            <th>Mouse:</th>
            <td>{{ computer.mouse }}</td>
        </tr>
        <tr>
            <th>Sound:</th>
            <td>{{ computer.sound }}</td>
        </tr>
        <tr>
            <th>CD-ROM:</th>
            <td>{{ computer.cdrom }}</td>
        </tr>
        <tr>
            <th>HDD cover:</th>
            <td>{{ computer.hdd_cover }}</td>
        </tr>
        <tr>
            <th>RAM cover</th>
            <td>{{ computer.ram_cover }}</td>
        </tr>
        <tr>
            <th>Other</th>
            <td>{{ computer.other }}</td>
        </tr>
        <tr>
            <th>Tester:</th>
            <td>{{ computer.f_tester.tester_name }}</td>
        </tr>
        <tr>
            <th>Date:</th>
            <td>{{ computer.getDate }}</td>
        </tr>
        <tr>
            <th>BIOS:</th>
            <td>{{ computer.f_bios.bios_text }}</td>
        </tr>
        <tr>
            <th>Motherboard serial:</th>
            <td>{{ computer.f_motherboard.motherboard_serial }}</td>
        </tr>
        {% for bat_unit in bat_list %}
        <tr>
            <th>bat_serial{{ bat_unit.index }}</th>
            <td>{{ bat_unit.serial }}</td>
        </tr>
        <tr>
            <th>bat_wear{{ bat_unit.index }}</th>
            <td>{{ bat_unit.wear }}</td>
        </tr>
        <tr>
            <th>bat_time{{ bat_unit.index }}</th>
            <td>{{ bat_unit.time }}</td>
        </tr>
        {% endfor %}
        {% for ram_unit in ram_list %}
        <tr>
            <th>ram_serial{{ ram_unit.index }}</th>
            <td>{{ ram_unit.serial }}</td>
        </tr>
        {% endfor %}
        {% for hdd_unit in hdd_list %}
        <tr>
            <th>hdd_serial{{ hdd_unit.index }}</th>
            <td>{{ hdd_unit.serial }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>