<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>computer_looks(work in progress)</title>
</head>
<body>
    <h1>Overlook of computers inside database</h1>
    <table style="font-size: 12px">
        <tr>
            <td>ID:</td>
            <td>Serial:</td>
            <td>Manufacturer:</td>
            <td>Model:</td>
            <td>CPU:</td>
            <td>RAM:</td>
            <td>GPU:</td>
            <td>HDD:</td>
            <td>Diagonal:</td>
            <td>License:</td>
            <td>Camera:</td>
            <td>Cover:</td>
            <td>Display:</td>
            <td>Bezel:</td>
            <td>Keyboard:</td>
            <td>Mouse:</td>
            <td>Sound:</td>
            <td>CD-ROM:</td>
            <td>Battery:</td>
            <td>HDD-cover:</td>
            <td>RAM-cover:</td>
            <td>Other:</td>
            <td>Tester:</td>
            <td>Date:</td>
            <td>BIOS:</td>
        </tr>
        <tr>
            <td colspan="25"><hr></td>
        </tr>
        <tr bgcolor="">
            <td>{{ computer.id_computer }}</td>
            <td>{{ computer.serial }}</td>
            <td>{{ computer.manufacturer }}</td>
            <td>{{ computer.model }}</td>
            <td>{{ computer.cpu }}</td>
            <td>{{ computer.ram }}</td>
            <td>{{ computer.gpu }}</td>
            <td>{{ computer.hdd }}</td>
            <td>{{ computer.diagonal }}</td>
            <td>{{ computer.license }}</td>
            <td>{{ computer.camera }}</td>
            <td>{{ computer.cover }}</td>
            <td>{{ computer.display }}</td>
            <td>{{ computer.bezel }}</td>
            <td>{{ computer.keyboard }}</td>
            <td>{{ computer.mouse }}</td>
            <td>{{ computer.sound }}</td>
            <td>{{ computer.cdrom }}</td>
            <td>{{ computer.battery }}</td>
            <td>{{ computer.hdd_cover }}</td>
            <td>{{ computer.ram_cover }}</td>
            <td>{{ computer.other }}</td>
            <td>{{ computer.tester }}</td>
            <td>{{ computer.date }}</td>
            <td>{{ computer.bios }}</td>
        </tr>
        <tr>
            <td colspan="25"><hr></td>>
        </tr>>
    </table>
</body>
</html>