<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Hdd order content</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <script type="text/javascript" src="{% static 'index.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'order_edit.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
</head>
<body>
    <form method="post">
        <div class="header">
            <div class="block">
                <div class="textdiv">Hdd order id: {{ hoch.hdd_order.order_id }}</div>
                <div class="textdiv">Hdd order name: {{ hoch.hdd_order.order_name }}</div>
                <div class="textdiv">Date: {{ hoch.hdd_order.date_of_order|date:"c" }}</div>
            </div>
            <div class="block">
                <div class="textdiv">Status:
                    <select id="status_selection" name="status_name">
                        {% for item in hoch.available_statuses %}
                        <option value="{{ item.order_status_name }}"{% if item.order_status_name == hoch.hdd_order.f_order_status.order_status_name %} selected="selected"{% endif %}>{{ item.order_status_name }}</option>
                        {% endfor %}
                    </select>
                    <input id="other_checkbox" type="checkbox" class="checkbox" onclick="hddOrderOtherCheck(this)"{% if hoch.hdd_order.f_order_status.is_shown == 0 %} checked{% endif %}>
                    <input id="other_selection" type="text" name="other_name" placeholder="other" {% if hoch.hdd_order.f_order_status.is_shown == 0 %} value="{{ hoch.hdd_order.f_order_status.order_status_name }}" {% endif %}disabled>
                </div>
            </div>
        </div>
        <div class="tableDiv">
            <div class="block">
                <button type="button" class="button img-button" onclick="applyAFs()">Filter</button>
                <button type="button" class="button img-button" onclick="download_hdd_order_csv({{ hoch.hdd_order.order_id }})">CSV</button>
                <input type="submit" class="button img-button">
            </div>
            <div class="block">
                <table class="mainTable">
                    <thead>
                        <tr>
                            <th>Serial{% if 'ser-af' in hoch.changedKeys %}*{% endif %}
                                <button type="button" onclick="autoFilterMenu('af-Serial')">&#8642;</button>
                                <div id="af-Serial" class="autofilter">
                                    <div class="af-top">
                                        <div class="af-checkbkox">
                                            <input type="checkbox" class="checkbox" onclick="afSelectAll(this, 'ser-af')">
                                        </div>
                                        <div class="af-textinput">
                                            <input class="textinput" type="text" placeholder="keyword" oninput="filterKeywordChange(this, 'ser-af')">
                                        </div>
                                    </div>
                                    <div class="af-body" id="ser-af">
                                        {% for afChoice in hoch.autoFilters.serials %}
                                        <div class="af-selection">
                                            <div class="af-checkbkox">
                                                <input type="checkbox"class="checkbox" onclick="afSelect(this)">
                                            </div>
                                            <div class="af-chkbxtitle">
                                                {{ afChoice }}
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </th>
                            <th>Model{% if 'mod-af' in hoch.changedKeys %}*{% endif %}
                                <button type="button" onclick="autoFilterMenu('af-Model')">&#8642;</button>
                                <div id="af-Model" class="autofilter">
                                    <div class="af-top">
                                        <div class="af-checkbkox">
                                            <input type="checkbox" class="checkbox" onclick="afSelectAll(this, 'mod-af')">
                                        </div>
                                        <div class="af-textinput">
                                            <input class="textinput" type="text" placeholder="keyword" oninput="filterKeywordChange(this, 'mod-af')">
                                        </div>
                                    </div>
                                    <div class="af-body" id="mod-af">
                                        {% for afChoice in hoch.autoFilters.models %}
                                        <div class="af-selection">
                                            <div class="af-checkbkox">
                                                <input type="checkbox" class="checkbox" onclick="afSelect(this)">
                                            </div>
                                            <div class="af-chkbxtitle">{{ afChoice.name }}</div>
                                            <div class="af-qty">({{ afChoice.qty }})</div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </th>
                            <th>Size{% if 'siz-af' in hoch.changedKeys %}*{% endif %}
                                <button type="button" onclick="autoFilterMenu('af-Size')">&#8642;</button>
                                <div id="af-Size" class="autofilter">
                                    <div class="af-top">
                                        <div class="af-checkbkox">
                                            <input type="checkbox" class="checkbox" onclick="afSelectAll(this, 'siz-af')">
                                        </div>
                                        <div class="af-textinput">
                                            <input class="textinput" type="text" placeholder="keyword" oninput="filterKeywordChange(this, 'siz-af')">
                                        </div>
                                    </div>
                                    <div class="af-body" id="siz-af">
                                        {% for afChoice in hoch.autoFilters.sizes %}
                                        <div class="af-selection">
                                            <div class="af-checkbkox">
                                                <input type="checkbox" class="checkbox" onclick="afSelect(this)">
                                            </div>
                                            <div class="af-chkbxtitle">{{ afChoice.name }}</div>
                                            <div class="af-qty">({{ afChoice.qty }})</div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </th>
                            <th>Lock state{% if 'loc-af' in hoch.changedKeys %}*{% endif %}
                                <button type="button" onclick="autoFilterMenu('af-Lock')">&#8642;</button>
                                <div id="af-Lock" class="autofilter">
                                    <div class="af-top">
                                        <div class="af-checkbkox">
                                            <input type="checkbox" class="checkbox" onclick="afSelectAll(this, 'loc-af')">
                                        </div>
                                        <div class="af-textinput">
                                            <input class="textinput" type="text" placeholder="keyword" oninput="filterKeywordChange(this, 'loc-af')">
                                        </div>
                                    </div>
                                    <div class="af-body" id="loc-af">
                                        {% for afChoice in hoch.autoFilters.locks %}
                                        <div class="af-selection">
                                            <div class="af-checkbkox">
                                                <input type="checkbox" class="checkbox" onclick="afSelect(this)">
                                            </div>
                                            <div class="af-chkbxtitle">{{ afChoice.name }}</div>
                                            <div class="af-qty">({{ afChoice.qty }})</div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </th>
                            <th>Speed{% if 'spe-af' in hoch.changedKeys %}*{% endif %}
                                <button type="button" onclick="autoFilterMenu('af-Speed')">&#8642;</button>
                                <div id="af-Speed" class="autofilter">
                                    <div class="af-top">
                                        <div class="af-checkbkox">
                                            <input type="checkbox" class="checkbox" onclick="afSelectAll(this, 'spe-af')">
                                        </div>
                                        <div class="af-textinput">
                                            <input class="textinput" type="text" placeholder="keyword" oninput="filterKeywordChange(this, 'spe-af')">
                                        </div>
                                    </div>
                                    <div class="af-body" id="spe-af">
                                        {% for afChoice in hoch.autoFilters.speeds %}
                                        <div class="af-selection">
                                            <div class="af-checkbkox">
                                                <input type="checkbox" class="checkbox" onclick="afSelect(this)">
                                            </div>
                                            <div class="af-chkbxtitle">{{ afChoice.name }}</div>
                                            <div class="af-qty">({{ afChoice.qty }})</div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </th>
                            <th>Form factor{% if 'for-af' in hoch.changedKeys %}*{% endif %}
                                <button type="button" onclick="autoFilterMenu('af-Form')">&#8642;</button>
                                <div id="af-Form" class="autofilter">
                                    <div class="af-top">
                                        <div class="af-checkbkox">
                                            <input type="checkbox" class="checkbox" onclick="afSelectAll(this, 'for-af')">
                                        </div>
                                        <div class="af-textinput">
                                            <input class="textinput" type="text" placeholder="keyword" oninput="filterKeywordChange(this, 'for-af')">
                                        </div>
                                    </div>
                                    <div class="af-body" id="for-af">
                                        {% for afChoice in hoch.autoFilters.forms %}
                                        <div class="af-selection">
                                            <div class="af-checkbkox">
                                                <input type="checkbox" class="checkbox" onclick="afSelect(this)">
                                            </div>
                                            <div class="af-chkbxtitle">{{ afChoice.name }}</div>
                                            <div class="af-qty">({{ afChoice.qty }})</div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </th>
                            <th>Health{% if 'hp-af' in hoch.changedKeys %}*{% endif %}
                                <button type="button" onclick="autoFilterMenu('af-Health')">&#8642;</button>
                                <div id="af-Health" class="autofilter">
                                    <div class="af-top">
                                        <div class="af-checkbkox">
                                            <input type="checkbox" class="checkbox" onclick="afSelectAll(this, 'hp-af')">
                                        </div>
                                        <div class="af-textinput">
                                            <input class="textinput" type="text" placeholder="keyword" oninput="filterKeywordChange(this, 'hp-af')">
                                        </div>
                                    </div>
                                    <div class="af-body" id="hp-af">
                                        {% for afChoice in hoch.autoFilters.healths %}
                                        <div class="af-selection">
                                            <div class="af-checkbkox">
                                                <input type="checkbox" class="checkbox" onclick="afSelect(this)">
                                            </div>
                                            <div class="af-chkbxtitle">{{ afChoice.name }}</div>
                                            <div class="af-qty">({{ afChoice.qty }})</div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </th>
                            <th>Days on{% if 'day-af' in hoch.changedKeys %}*{% endif %}
                                <button type="button" onclick="autoFilterMenu('af-Date')">&#8642;</button>
                                <div id="af-Date" class="autofilter">
                                    <div class="af-top">
                                        <div class="af-checkbkox">
                                            <input type="checkbox" class="checkbox" onclick="afSelectAll(this, 'day-af')">
                                        </div>
                                        <div class="af-textinput">
                                            <input class="textinput" type="text" placeholder="keyword" oninput="filterKeywordChange(this, 'day-af')">
                                        </div>
                                    </div>
                                    <div class="af-body" id="day-af">
                                        {% for afChoice in hoch.autoFilters.days %}
                                        <div class="af-selection">
                                            <div class="af-checkbkox">
                                                <input type="checkbox" class="checkbox" onclick="afSelect(this)">
                                            </div>
                                            <div class="af-chkbxtitle">{{ afChoice.name }}</div>
                                            <div class="af-qty">({{ afChoice.qty }})</div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </th>
                            <th>Lot</th>
                            <th>Actions:</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for hdd in hoch.hdds %}
                        <tr>
                            <td>{{ hdd.hdd_serial }}</td>
                            <td>{{ hdd.f_hdd_models.hdd_models_name }}</td>
                            <td>{{ hdd.f_hdd_sizes.hdd_sizes_name }}</td>
                            <td>{{ hdd.f_lock_state.lock_state_name }}</td>
                            <td>{{ hdd.f_speed.speed_name }}</td>
                            <td>{{ hdd.f_form_factor.form_factor_name }}</td>
                            <td>{{ hdd.health }}%</td>
                            <td>{{ hdd.days_on }} d.</td>
                            <td>{{ hdd.f_lot.lot_name }}</td>
                            <td>
                                <button type="button" onclick="editHdd({{ hdd.hdd_id }}, 2)">Edit</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</body>
</html>