{% block 'hddOrders' %}
<div class="menu2">
    <div id="filter" class="menu-div">
        <div class="item">
            <button type="button" class="button img-button" onclick="applyAFs()">Filter</button>
            <button type="button" class="button img-button" onclick="importNewHddOrder(1)">Import new order</button>
        </div>
    </div>
</div>
<div class="pageContent">
    <table class="main-table">
        <tr>
            <th>Nr.</th>
            <th>Order name
                <button type="button" onclick="autoFilterMenu('af-hon')">
                    <img
                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAB3UlEQVR4Xp2RMYsaURDH39vd7HqkSZNCFDvBQoQUfgILG7tIrCRBJZg04hamsEhIKwS2sVgIFxFOCFaS5gx2CoqHEhUiClZG2ItE18fqSrxn5oVskWOv8H7wH/bNm5k3M4uPxyNihEKhx8Abp9Ppwhg/oJTyoKNpmvpms7nWdX0FYt/E5XJdAj8RIDADCWIqlfoSi8WecBy3BtcP0MJOy+VSy+fzzyFHgcd/IzB/lU6nL6rVqqkoip7JZLR4PL70+XzE4/Gsg8Hgt3A4XAGfnEwmn7rd7mdWHof+MRwOPxBCrv1+P5VlGReLRb7X6x263e6kUCic53K5ajQa7U4mEzKfz6+sPKsAajabV7VarWAYBtY0zRBF0SEIgihJ0kN4CbPYdrvtHI1GN3CeIQs4/CdoU63X61PY1y+2wNVqNWo0GnKpVHrp9Xpf3I4X0C3K5fIrnufPYc4g6NF+vzdAkqqqdDqdfkQWdh1YAqRsNnuxWCy+z2azOsz+FnxndrGYGTsikcjrSqXyfjAYfIWlXnY6nU/IBg7dDQdgh8OBMICAkwpAZ1Z3/AkFbO/wfTvgrP/P8k8uQClld/cfgRBy2O12eDwen223W3pygVarpQQCgVgikXjX7/c/ozv4A8n3K2osMTDJAAAAAElFTkSuQmCC"
                    >
                </button>
                <div id="af-hon" class="autofilter">
                    <div class="af-top">
                        <div class="af-checkbkox">
                            <input type="checkbox" onclick="afSelectAll(this, 'hon-af')">
                        </div>
                        <div class="af-textinput">
                            <input class="textinput" type="text" placeholder="keyword"
                                   oninput="filterKeywordChange(this, 'hon-af')">
                        </div>
                    </div>
                    <div class="af-body" id="hon-af">
                        {% for afChoice in oh.autoFilters.orders_names %}
                        <div class="af-selection">
                            <div class="af-checkbkox">
                                <input type="checkbox" onclick="afSelect(this)">
                            </div>
                            <div class="af-chkbxtitle">
                                {{ afChoice }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </th>
            <th>Date
                <button type="button" onclick="autoFilterMenu('af-dat')">
                    <img
                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAB3UlEQVR4Xp2RMYsaURDH39vd7HqkSZNCFDvBQoQUfgILG7tIrCRBJZg04hamsEhIKwS2sVgIFxFOCFaS5gx2CoqHEhUiClZG2ItE18fqSrxn5oVskWOv8H7wH/bNm5k3M4uPxyNihEKhx8Abp9Ppwhg/oJTyoKNpmvpms7nWdX0FYt/E5XJdAj8RIDADCWIqlfoSi8WecBy3BtcP0MJOy+VSy+fzzyFHgcd/IzB/lU6nL6rVqqkoip7JZLR4PL70+XzE4/Gsg8Hgt3A4XAGfnEwmn7rd7mdWHof+MRwOPxBCrv1+P5VlGReLRb7X6x263e6kUCic53K5ajQa7U4mEzKfz6+sPKsAajabV7VarWAYBtY0zRBF0SEIgihJ0kN4CbPYdrvtHI1GN3CeIQs4/CdoU63X61PY1y+2wNVqNWo0GnKpVHrp9Xpf3I4X0C3K5fIrnufPYc4g6NF+vzdAkqqqdDqdfkQWdh1YAqRsNnuxWCy+z2azOsz+FnxndrGYGTsikcjrSqXyfjAYfIWlXnY6nU/IBg7dDQdgh8OBMICAkwpAZ1Z3/AkFbO/wfTvgrP/P8k8uQClld/cfgRBy2O12eDwen223W3pygVarpQQCgVgikXjX7/c/ozv4A8n3K2osMTDJAAAAAElFTkSuQmCC"
                    >
                </button>
                <div id="af-dat" class="autofilter">
                    <div class="af-top">
                        <div class="af-checkbkox">
                            <input type="checkbox" onclick="afSelectAll(this, 'dat-af')">
                        </div>
                        <div class="af-textinput">
                            <input class="textinput" type="text" placeholder="keyword"
                                   oninput="filterKeywordChange(this, 'dat-af')">
                        </div>
                    </div>
                    <div class="af-body" id="dat-af">
                        {% for afChoice in oh.autoFilters.dates_of_orders %}
                        <div class="af-selection">
                            <div class="af-checkbkox">
                                <input type="checkbox" onclick="afSelect(this)">
                            </div>
                            <div class="af-chkbxtitle">
                                {{ afChoice|date:"c" }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </th>
            <th>Order status
                <button type="button" onclick="autoFilterMenu('af-ost')">
                    <img
                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAB3UlEQVR4Xp2RMYsaURDH39vd7HqkSZNCFDvBQoQUfgILG7tIrCRBJZg04hamsEhIKwS2sVgIFxFOCFaS5gx2CoqHEhUiClZG2ItE18fqSrxn5oVskWOv8H7wH/bNm5k3M4uPxyNihEKhx8Abp9Ppwhg/oJTyoKNpmvpms7nWdX0FYt/E5XJdAj8RIDADCWIqlfoSi8WecBy3BtcP0MJOy+VSy+fzzyFHgcd/IzB/lU6nL6rVqqkoip7JZLR4PL70+XzE4/Gsg8Hgt3A4XAGfnEwmn7rd7mdWHof+MRwOPxBCrv1+P5VlGReLRb7X6x263e6kUCic53K5ajQa7U4mEzKfz6+sPKsAajabV7VarWAYBtY0zRBF0SEIgihJ0kN4CbPYdrvtHI1GN3CeIQs4/CdoU63X61PY1y+2wNVqNWo0GnKpVHrp9Xpf3I4X0C3K5fIrnufPYc4g6NF+vzdAkqqqdDqdfkQWdh1YAqRsNnuxWCy+z2azOsz+FnxndrGYGTsikcjrSqXyfjAYfIWlXnY6nU/IBg7dDQdgh8OBMICAkwpAZ1Z3/AkFbO/wfTvgrP/P8k8uQClld/cfgRBy2O12eDwen223W3pygVarpQQCgVgikXjX7/c/ozv4A8n3K2osMTDJAAAAAElFTkSuQmCC"
                    >
                </button>
                <div id="af-ost" class="autofilter">
                    <div class="af-top">
                        <div class="af-checkbkox">
                            <input type="checkbox" onclick="afSelectAll(this, 'ost-af')">
                        </div>
                        <div class="af-textinput">
                            <input class="textinput" type="text" placeholder="keyword"
                                   oninput="filterKeywordChange(this, 'ost-af')">
                        </div>
                    </div>
                    <div class="af-body" id="ost-af">
                        {% for afChoice in oh.autoFilters.order_status_names %}
                        <div class="af-selection">
                            <div class="af-checkbkox">
                                <input type="checkbox" onclick="afSelect(this)">
                            </div>
                            <div class="af-chkbxtitle">
                                {{ afChoice }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </th>
            <th>Count
                <button type="button" onclick="autoFilterMenu('af-cnt')">
                    <img
                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAB3UlEQVR4Xp2RMYsaURDH39vd7HqkSZNCFDvBQoQUfgILG7tIrCRBJZg04hamsEhIKwS2sVgIFxFOCFaS5gx2CoqHEhUiClZG2ItE18fqSrxn5oVskWOv8H7wH/bNm5k3M4uPxyNihEKhx8Abp9Ppwhg/oJTyoKNpmvpms7nWdX0FYt/E5XJdAj8RIDADCWIqlfoSi8WecBy3BtcP0MJOy+VSy+fzzyFHgcd/IzB/lU6nL6rVqqkoip7JZLR4PL70+XzE4/Gsg8Hgt3A4XAGfnEwmn7rd7mdWHof+MRwOPxBCrv1+P5VlGReLRb7X6x263e6kUCic53K5ajQa7U4mEzKfz6+sPKsAajabV7VarWAYBtY0zRBF0SEIgihJ0kN4CbPYdrvtHI1GN3CeIQs4/CdoU63X61PY1y+2wNVqNWo0GnKpVHrp9Xpf3I4X0C3K5fIrnufPYc4g6NF+vzdAkqqqdDqdfkQWdh1YAqRsNnuxWCy+z2azOsz+FnxndrGYGTsikcjrSqXyfjAYfIWlXnY6nU/IBg7dDQdgh8OBMICAkwpAZ1Z3/AkFbO/wfTvgrP/P8k8uQClld/cfgRBy2O12eDwen223W3pygVarpQQCgVgikXjX7/c/ozv4A8n3K2osMTDJAAAAAElFTkSuQmCC"
                    >
                </button>
                <div id="af-cnt" class="autofilter">
                    <div class="af-top">
                        <div class="af-checkbkox">
                            <input type="checkbox" onclick="afSelectAll(this, 'cnt-af')">
                        </div>
                        <div class="af-textinput">
                            <input class="textinput" type="text" placeholder="keyword"
                                   oninput="filterKeywordChange(this, 'cnt-af')">
                        </div>
                    </div>
                    <div class="af-body" id="cnt-af">
                        {% for afChoice in oh.autoFilters.counts %}
                        <div class="af-selection">
                            <div class="af-checkbkox">
                                <input type="checkbox" onclick="afSelect(this)">
                            </div>
                            <div class="af-chkbxtitle">
                                {{ afChoice }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </th>
            <th>Actions</th>
        </tr>
        {% for order in oh.orders %}
        <tr>
            {{ oh.increment }}
            <td>{{ oh.count }}</td>
            <td>{{ order.order_name }}</td>
            <td>{{ order.date_of_order|date:"c" }}</td>
            <td>{{ order.order_status_name }}</td>
            <td>{{ order.count }}</td>
            <td>
                <button type="button" onclick="hdd_order_content({{ order.order_id }})">Content</button>
                <button type="button" onclick="hdd_delete_order({{ order.order_id }})">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}