{% block 'hddOrders' %}
<div class="menu2">
    <div id="filter" class="menu-div">
        <div class="item">
            <button type="button" class="button img-button" onclick="applyAFs()">Filter</button>
            <button type="button" class="button img-button" onclick="importNewHddOrder(1)">Import new order</button>
        </div>
    </div>
</div>
<div class="pageContent">
    <table class="main-table">
        <thead>
            <tr class="header-row">
                <th>Nr.</th>
                <th>Order name<button type="button" class="filter-button" onclick="autoFilterMenu('af-hon')">&#8642;</button>
                    <div id="af-hon" class="autofilter">
                        <div class="af-top">
                            <div class="af-checkbkox">
                                <input type="checkbox" onclick="afSelectAll(this, 'hon-af')">
                            </div>
                            <div class="af-textinput">
                                <input class="textinput" type="text" placeholder="keyword"
                                       oninput="filterKeywordChange(this, 'hon-af')">
                            </div>
                        </div>
                        <div class="af-body" id="hon-af">
                            {% for afChoice in oh.autoFilters.orders_names %}
                            <div class="af-selection">
                                <div class="af-checkbkox">
                                    <input type="checkbox" onclick="afSelect(this)">
                                </div>
                                <div class="af-chkbxtitle">
                                    {{ afChoice }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </th>
                <th>Date<button type="button" class="filter-button" onclick="autoFilterMenu('af-dat')">&#8642;</button>
                    <div id="af-dat" class="autofilter">
                        <div class="af-top">
                            <div class="af-checkbkox">
                                <input type="checkbox" onclick="afSelectAll(this, 'dat-af')">
                            </div>
                            <div class="af-textinput">
                                <input class="textinput" type="text" placeholder="keyword"
                                       oninput="filterKeywordChange(this, 'dat-af')">
                            </div>
                        </div>
                        <div class="af-body" id="dat-af">
                            {% for afChoice in oh.autoFilters.dates_of_orders %}
                            <div class="af-selection">
                                <div class="af-checkbkox">
                                    <input type="checkbox" onclick="afSelect(this)">
                                </div>
                                <div class="af-chkbxtitle">
                                    {{ afChoice|date:"c" }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </th>
                <th>Order status<button type="button" class="filter-button" onclick="autoFilterMenu('af-ost')">&#8642;</button>
                    <div id="af-ost" class="autofilter">
                        <div class="af-top">
                            <div class="af-checkbkox">
                                <input type="checkbox" onclick="afSelectAll(this, 'ost-af')">
                            </div>
                            <div class="af-textinput">
                                <input class="textinput" type="text" placeholder="keyword"
                                       oninput="filterKeywordChange(this, 'ost-af')">
                            </div>
                        </div>
                        <div class="af-body" id="ost-af">
                            {% for afChoice in oh.autoFilters.order_status_names %}
                            <div class="af-selection">
                                <div class="af-checkbkox">
                                    <input type="checkbox" onclick="afSelect(this)">
                                </div>
                                <div class="af-chkbxtitle">
                                    {{ afChoice }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </th>
                <th>Count<button type="button" class="filter-button" onclick="autoFilterMenu('af-cnt')">&#8642;</button>
                    <div id="af-cnt" class="autofilter">
                        <div class="af-top">
                            <div class="af-checkbkox">
                                <input type="checkbox" onclick="afSelectAll(this, 'cnt-af')">
                            </div>
                            <div class="af-textinput">
                                <input class="textinput" type="text" placeholder="keyword"
                                       oninput="filterKeywordChange(this, 'cnt-af')">
                            </div>
                        </div>
                        <div class="af-body" id="cnt-af">
                            {% for afChoice in oh.autoFilters.counts %}
                            <div class="af-selection">
                                <div class="af-checkbkox">
                                    <input type="checkbox" onclick="afSelect(this)">
                                </div>
                                <div class="af-chkbxtitle">
                                    {{ afChoice }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="records">
            {% for order in oh.orders %}
            <tr class="row">
                {{ oh.increment }}
                <td>{{ oh.count }}</td>
                <td>{{ order.order_name }}</td>
                <td>{{ order.date_of_order|date:"c" }}</td>
                <td>{{ order.order_status_name }}</td>
                <td>{{ order.count }}</td>
                <td>
                    <button type="button" onclick="hdd_order_content({{ order.order_id }})">Content</button>
                    <button type="button" onclick="hdd_delete_order({{ order.order_id }})">Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}