<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add the object</title>
    <link rel="stylesheet" type="text/css" href="{% static 'items.css' %}">
    <script type="text/javascript" src="{% static 'items.js' %}"></script>
</head>
<body>
    <table>
        <tr>
            <form method="post">
                <td colspan="3">
                    <div class="lefter">
                        <input name="item_name" type="text" class="newNameField" placeholder="Name of an object"/>
                    </div>
                    <div class="lefter">
                        <input type="submit" class="newNameAdder" value="+" />
                    </div>
                </td>
            </form>
        <tr>
            <div class="error">{{ message }}</div>
        </tr>
        {% for item in items %}
        <tr class="row">
            <td class="field"><input class="inputField greyed" type="text" value="{{ item.name }}" id="field{{ item.id }}" readonly/></td>
            <td><button class="editor button" onclick="edit(this ,field{{ item.id }})">Edit</button></td>
            <td><button class="deleter button" onclick="deleteItem({{ item.id }})">X</button></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>