<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <tr>
            <form method="post">
                <td>
                    <input name="item_name" type="text" placeholder="Name of an object"/>
                </td>
                <td>
                    <input type="submit" value="+" />
                </td>
            </form>
        </tr>
        {% for item in items %}
        <tr>
            <td>{{ item }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>