{% block 'leftMenu' %}
<div class="pageLeftTop">
    <div class="vertical-menu">
        <a class="active">Meniu:</a>
        <a class="menu-choice" onclick="launchNewRecordWindow()">+record</a>
        <a class="menu-choice" onclick="launchTesterWindow()">testers</a>
        <a class="menu-choice" onclick="launchTypWindow()">types</a>
        <a class="menu-choice" onclick="launchCatWindow()">categories</a>
        <a class="menu-choice" onclick="launchOrderWindow()">+order</a>
    </div>
</div>
{% endblock %}