<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lot content</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <script type="text/javascript" src="{% static 'index.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'order_edit.css' %}">
</head>
<body>
    <div class="header block">
        <div class="textdiv">Lot id: {{ lch.lot.lot_id }}</div>
        <div class="textdiv">Lot name: {{ lch.lot.lot_name }}</div>
        <div class="textdiv">Date {{ lch.lot.date_of_lot|date:"c" }}</div>
    </div>
    <div class="tableDiv block">
        <div><button type="button" class="button img-button" onclick="applyAFs()">Filter</button></div>
        <table class="mainTable">
            <tr>
                <th>Serial{% if 'ser-af' in lch.changedKeys %}*{% endif %}
                    <button type="button" onclick="autoFilterMenu('af-Serial')">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAB3UlEQVR4Xp2RMYsaURDH39vd7HqkSZNCFDvBQoQUfgILG7tIrCRBJZg04hamsEhIKwS2sVgIFxFOCFaS5gx2CoqHEhUiClZG2ItE18fqSrxn5oVskWOv8H7wH/bNm5k3M4uPxyNihEKhx8Abp9Ppwhg/oJTyoKNpmvpms7nWdX0FYt/E5XJdAj8RIDADCWIqlfoSi8WecBy3BtcP0MJOy+VSy+fzzyFHgcd/IzB/lU6nL6rVqqkoip7JZLR4PL70+XzE4/Gsg8Hgt3A4XAGfnEwmn7rd7mdWHof+MRwOPxBCrv1+P5VlGReLRb7X6x263e6kUCic53K5ajQa7U4mEzKfz6+sPKsAajabV7VarWAYBtY0zRBF0SEIgihJ0kN4CbPYdrvtHI1GN3CeIQs4/CdoU63X61PY1y+2wNVqNWo0GnKpVHrp9Xpf3I4X0C3K5fIrnufPYc4g6NF+vzdAkqqqdDqdfkQWdh1YAqRsNnuxWCy+z2azOsz+FnxndrGYGTsikcjrSqXyfjAYfIWlXnY6nU/IBg7dDQdgh8OBMICAkwpAZ1Z3/AkFbO/wfTvgrP/P8k8uQClld/cfgRBy2O12eDwen223W3pygVarpQQCgVgikXjX7/c/ozv4A8n3K2osMTDJAAAAAElFTkSuQmCC">
                    </button>
                    <div id="af-Serial" class="autofilter">
                        <div class="af-top">
                            <div class="af-checkbkox">
                                <input type="checkbox" class="checkbox" onclick="afSelectAll(this, 'ser-af')">
                            </div>
                            <div class="af-textinput">
                                <input class="textinput" type="text" placeholder="keyword" oninput="filterKeywordChange(this, 'ser-af')">
                            </div>
                        </div>
                        <div class="af-body" id="ser-af">
                            {% for afChoice in lch.autoFilters.serials %}
                            <div class="af-selection">
                                <div class="af-checkbkox">
                                    <input type="checkbox" class="checkbox" onclick="afSelect(this)">
                                </div>
                                <div class="af-chkbxtitle">
                                    {{ afChoice }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </th>
                <th>Model{% if 'mod-af' in lch.changedKeys %}*{% endif %}
                    <button type="button" onclick="autoFilterMenu('af-Model')">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAB3UlEQVR4Xp2RMYsaURDH39vd7HqkSZNCFDvBQoQUfgILG7tIrCRBJZg04hamsEhIKwS2sVgIFxFOCFaS5gx2CoqHEhUiClZG2ItE18fqSrxn5oVskWOv8H7wH/bNm5k3M4uPxyNihEKhx8Abp9Ppwhg/oJTyoKNpmvpms7nWdX0FYt/E5XJdAj8RIDADCWIqlfoSi8WecBy3BtcP0MJOy+VSy+fzzyFHgcd/IzB/lU6nL6rVqqkoip7JZLR4PL70+XzE4/Gsg8Hgt3A4XAGfnEwmn7rd7mdWHof+MRwOPxBCrv1+P5VlGReLRb7X6x263e6kUCic53K5ajQa7U4mEzKfz6+sPKsAajabV7VarWAYBtY0zRBF0SEIgihJ0kN4CbPYdrvtHI1GN3CeIQs4/CdoU63X61PY1y+2wNVqNWo0GnKpVHrp9Xpf3I4X0C3K5fIrnufPYc4g6NF+vzdAkqqqdDqdfkQWdh1YAqRsNnuxWCy+z2azOsz+FnxndrGYGTsikcjrSqXyfjAYfIWlXnY6nU/IBg7dDQdgh8OBMICAkwpAZ1Z3/AkFbO/wfTvgrP/P8k8uQClld/cfgRBy2O12eDwen223W3pygVarpQQCgVgikXjX7/c/ozv4A8n3K2osMTDJAAAAAElFTkSuQmCC">
                    </button>
                    <div id="af-Model" class="autofilter">
                        <div class="af-top">
                            <div class="af-checkbkox">
                                <input type="checkbox" class="checkbox" onclick="afSelectAll(this, 'mod-af')">
                            </div>
                            <div class="af-textinput">
                                <input class="textinput" type="text" placeholder="keyword" oninput="filterKeywordChange(this, 'mod-af')">
                            </div>
                        </div>
                        <div class="af-body" id="mod-af">
                            {% for afChoice in lch.autoFilters.models %}
                            <div class="af-selection">
                                <div class="af-checkbkox">
                                    <input type="checkbox" class="checkbox" onclick="afSelect(this)">
                                </div>
                                <div class="af-chkbxtitle">{{ afChoice.name }}</div>
                                <div class="af-qty">({{ afChoice.qty }})</div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </th>
                <th>Size{% if 'siz-af' in lch.changedKeys %}*{% endif %}
                    <button type="button" onclick="autoFilterMenu('af-Size')">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAB3UlEQVR4Xp2RMYsaURDH39vd7HqkSZNCFDvBQoQUfgILG7tIrCRBJZg04hamsEhIKwS2sVgIFxFOCFaS5gx2CoqHEhUiClZG2ItE18fqSrxn5oVskWOv8H7wH/bNm5k3M4uPxyNihEKhx8Abp9Ppwhg/oJTyoKNpmvpms7nWdX0FYt/E5XJdAj8RIDADCWIqlfoSi8WecBy3BtcP0MJOy+VSy+fzzyFHgcd/IzB/lU6nL6rVqqkoip7JZLR4PL70+XzE4/Gsg8Hgt3A4XAGfnEwmn7rd7mdWHof+MRwOPxBCrv1+P5VlGReLRb7X6x263e6kUCic53K5ajQa7U4mEzKfz6+sPKsAajabV7VarWAYBtY0zRBF0SEIgihJ0kN4CbPYdrvtHI1GN3CeIQs4/CdoU63X61PY1y+2wNVqNWo0GnKpVHrp9Xpf3I4X0C3K5fIrnufPYc4g6NF+vzdAkqqqdDqdfkQWdh1YAqRsNnuxWCy+z2azOsz+FnxndrGYGTsikcjrSqXyfjAYfIWlXnY6nU/IBg7dDQdgh8OBMICAkwpAZ1Z3/AkFbO/wfTvgrP/P8k8uQClld/cfgRBy2O12eDwen223W3pygVarpQQCgVgikXjX7/c/ozv4A8n3K2osMTDJAAAAAElFTkSuQmCC">
                    </button>
                    <div id="af-Size" class="autofilter">
                        <div class="af-top">
                            <div class="af-checkbkox">
                                <input type="checkbox" class="checkbox" onclick="afSelectAll(this, 'siz-af')">
                            </div>
                            <div class="af-textinput">
                                <input class="textinput" type="text" placeholder="keyword" oninput="filterKeywordChange(this, 'siz-af')">
                            </div>
                        </div>
                        <div class="af-body" id="siz-af">
                            {% for afChoice in lch.autoFilters.sizes %}
                            <div class="af-selection">
                                <div class="af-checkbkox">
                                    <input type="checkbox" class="checkbox" onclick="afSelect(this)">
                                </div>
                                <div class="af-chkbxtitle">{{ afChoice.name }}</div>
                                <div class="af-qty">({{ afChoice.qty }})</div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </th>
                <th>Lock state{% if 'loc-af' in lch.changedKeys %}*{% endif %}
                    <button type="button" onclick="autoFilterMenu('af-Lock')">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAB3UlEQVR4Xp2RMYsaURDH39vd7HqkSZNCFDvBQoQUfgILG7tIrCRBJZg04hamsEhIKwS2sVgIFxFOCFaS5gx2CoqHEhUiClZG2ItE18fqSrxn5oVskWOv8H7wH/bNm5k3M4uPxyNihEKhx8Abp9Ppwhg/oJTyoKNpmvpms7nWdX0FYt/E5XJdAj8RIDADCWIqlfoSi8WecBy3BtcP0MJOy+VSy+fzzyFHgcd/IzB/lU6nL6rVqqkoip7JZLR4PL70+XzE4/Gsg8Hgt3A4XAGfnEwmn7rd7mdWHof+MRwOPxBCrv1+P5VlGReLRb7X6x263e6kUCic53K5ajQa7U4mEzKfz6+sPKsAajabV7VarWAYBtY0zRBF0SEIgihJ0kN4CbPYdrvtHI1GN3CeIQs4/CdoU63X61PY1y+2wNVqNWo0GnKpVHrp9Xpf3I4X0C3K5fIrnufPYc4g6NF+vzdAkqqqdDqdfkQWdh1YAqRsNnuxWCy+z2azOsz+FnxndrGYGTsikcjrSqXyfjAYfIWlXnY6nU/IBg7dDQdgh8OBMICAkwpAZ1Z3/AkFbO/wfTvgrP/P8k8uQClld/cfgRBy2O12eDwen223W3pygVarpQQCgVgikXjX7/c/ozv4A8n3K2osMTDJAAAAAElFTkSuQmCC">
                    </button>
                    <div id="af-Lock" class="autofilter">
                        <div class="af-top">
                            <div class="af-checkbkox">
                                <input type="checkbox" class="checkbox" onclick="afSelectAll(this, 'loc-af')">
                            </div>
                            <div class="af-textinput">
                                <input class="textinput" type="text" placeholder="keyword" oninput="filterKeywordChange(this, 'loc-af')">
                            </div>
                        </div>
                        <div class="af-body" id="loc-af">
                            {% for afChoice in lch.autoFilters.locks %}
                            <div class="af-selection">
                                <div class="af-checkbkox">
                                    <input type="checkbox" class="checkbox" onclick="afSelect(this)">
                                </div>
                                <div class="af-chkbxtitle">{{ afChoice.name }}</div>
                                <div class="af-qty">({{ afChoice.qty }})</div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </th>
                <th>Speed{% if 'spe-af' in lch.changedKeys %}*{% endif %}
                    <button type="button" onclick="autoFilterMenu('af-Speed')">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAB3UlEQVR4Xp2RMYsaURDH39vd7HqkSZNCFDvBQoQUfgILG7tIrCRBJZg04hamsEhIKwS2sVgIFxFOCFaS5gx2CoqHEhUiClZG2ItE18fqSrxn5oVskWOv8H7wH/bNm5k3M4uPxyNihEKhx8Abp9Ppwhg/oJTyoKNpmvpms7nWdX0FYt/E5XJdAj8RIDADCWIqlfoSi8WecBy3BtcP0MJOy+VSy+fzzyFHgcd/IzB/lU6nL6rVqqkoip7JZLR4PL70+XzE4/Gsg8Hgt3A4XAGfnEwmn7rd7mdWHof+MRwOPxBCrv1+P5VlGReLRb7X6x263e6kUCic53K5ajQa7U4mEzKfz6+sPKsAajabV7VarWAYBtY0zRBF0SEIgihJ0kN4CbPYdrvtHI1GN3CeIQs4/CdoU63X61PY1y+2wNVqNWo0GnKpVHrp9Xpf3I4X0C3K5fIrnufPYc4g6NF+vzdAkqqqdDqdfkQWdh1YAqRsNnuxWCy+z2azOsz+FnxndrGYGTsikcjrSqXyfjAYfIWlXnY6nU/IBg7dDQdgh8OBMICAkwpAZ1Z3/AkFbO/wfTvgrP/P8k8uQClld/cfgRBy2O12eDwen223W3pygVarpQQCgVgikXjX7/c/ozv4A8n3K2osMTDJAAAAAElFTkSuQmCC">
                    </button>
                    <div id="af-Speed" class="autofilter">
                        <div class="af-top">
                            <div class="af-checkbkox">
                                <input type="checkbox" class="checkbox" onclick="afSelectAll(this, 'spe-af')">
                            </div>
                            <div class="af-textinput">
                                <input class="textinput" type="text" placeholder="keyword" oninput="filterKeywordChange(this, 'spe-af')">
                            </div>
                        </div>
                        <div class="af-body" id="spe-af">
                            {% for afChoice in lch.autoFilters.speeds %}
                            <div class="af-selection">
                                <div class="af-checkbkox">
                                    <input type="checkbox" class="checkbox" onclick="afSelect(this)">
                                </div>
                                <div class="af-chkbxtitle">{{ afChoice.name }}</div>
                                <div class="af-qty">({{ afChoice.qty }})</div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </th>
                <th>Form factor{% if 'for-af' in lch.changedKeys %}*{% endif %}
                    <button type="button" onclick="autoFilterMenu('af-Form')">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAB3UlEQVR4Xp2RMYsaURDH39vd7HqkSZNCFDvBQoQUfgILG7tIrCRBJZg04hamsEhIKwS2sVgIFxFOCFaS5gx2CoqHEhUiClZG2ItE18fqSrxn5oVskWOv8H7wH/bNm5k3M4uPxyNihEKhx8Abp9Ppwhg/oJTyoKNpmvpms7nWdX0FYt/E5XJdAj8RIDADCWIqlfoSi8WecBy3BtcP0MJOy+VSy+fzzyFHgcd/IzB/lU6nL6rVqqkoip7JZLR4PL70+XzE4/Gsg8Hgt3A4XAGfnEwmn7rd7mdWHof+MRwOPxBCrv1+P5VlGReLRb7X6x263e6kUCic53K5ajQa7U4mEzKfz6+sPKsAajabV7VarWAYBtY0zRBF0SEIgihJ0kN4CbPYdrvtHI1GN3CeIQs4/CdoU63X61PY1y+2wNVqNWo0GnKpVHrp9Xpf3I4X0C3K5fIrnufPYc4g6NF+vzdAkqqqdDqdfkQWdh1YAqRsNnuxWCy+z2azOsz+FnxndrGYGTsikcjrSqXyfjAYfIWlXnY6nU/IBg7dDQdgh8OBMICAkwpAZ1Z3/AkFbO/wfTvgrP/P8k8uQClld/cfgRBy2O12eDwen223W3pygVarpQQCgVgikXjX7/c/ozv4A8n3K2osMTDJAAAAAElFTkSuQmCC">
                    </button>
                    <div id="af-Form" class="autofilter">
                        <div class="af-top">
                            <div class="af-checkbkox">
                                <input type="checkbox" class="checkbox" onclick="afSelectAll(this, 'for-af')">
                            </div>
                            <div class="af-textinput">
                                <input class="textinput" type="text" placeholder="keyword" oninput="filterKeywordChange(this, 'for-af')">
                            </div>
                        </div>
                        <div class="af-body" id="for-af">
                            {% for afChoice in lch.autoFilters.forms %}
                            <div class="af-selection">
                                <div class="af-checkbkox">
                                    <input type="checkbox" class="checkbox" onclick="afSelect(this)">
                                </div>
                                <div class="af-chkbxtitle">{{ afChoice.name }}</div>
                                <div class="af-qty">({{ afChoice.qty }})</div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </th>
                <th>Health{% if 'hp-af' in lch.changedKeys %}*{% endif %}
                    <button type="button" onclick="autoFilterMenu('af-Health')">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAB3UlEQVR4Xp2RMYsaURDH39vd7HqkSZNCFDvBQoQUfgILG7tIrCRBJZg04hamsEhIKwS2sVgIFxFOCFaS5gx2CoqHEhUiClZG2ItE18fqSrxn5oVskWOv8H7wH/bNm5k3M4uPxyNihEKhx8Abp9Ppwhg/oJTyoKNpmvpms7nWdX0FYt/E5XJdAj8RIDADCWIqlfoSi8WecBy3BtcP0MJOy+VSy+fzzyFHgcd/IzB/lU6nL6rVqqkoip7JZLR4PL70+XzE4/Gsg8Hgt3A4XAGfnEwmn7rd7mdWHof+MRwOPxBCrv1+P5VlGReLRb7X6x263e6kUCic53K5ajQa7U4mEzKfz6+sPKsAajabV7VarWAYBtY0zRBF0SEIgihJ0kN4CbPYdrvtHI1GN3CeIQs4/CdoU63X61PY1y+2wNVqNWo0GnKpVHrp9Xpf3I4X0C3K5fIrnufPYc4g6NF+vzdAkqqqdDqdfkQWdh1YAqRsNnuxWCy+z2azOsz+FnxndrGYGTsikcjrSqXyfjAYfIWlXnY6nU/IBg7dDQdgh8OBMICAkwpAZ1Z3/AkFbO/wfTvgrP/P8k8uQClld/cfgRBy2O12eDwen223W3pygVarpQQCgVgikXjX7/c/ozv4A8n3K2osMTDJAAAAAElFTkSuQmCC">
                    </button>
                    <div id="af-Health" class="autofilter">
                        <div class="af-top">
                            <div class="af-checkbkox">
                                <input type="checkbox" class="checkbox" onclick="afSelectAll(this, 'hp-af')">
                            </div>
                            <div class="af-textinput">
                                <input class="textinput" type="text" placeholder="keyword" oninput="filterKeywordChange(this, 'hp-af')">
                            </div>
                        </div>
                        <div class="af-body" id="hp-af">
                            {% for afChoice in lch.autoFilters.healths %}
                            <div class="af-selection">
                                <div class="af-checkbkox">
                                    <input type="checkbox" class="checkbox" onclick="afSelect(this)">
                                </div>
                                <div class="af-chkbxtitle">{{ afChoice.name }}</div>
                                <div class="af-qty">({{ afChoice.qty }})</div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </th>
                <th>Days on{% if 'day-af' in lch.changedKeys %}*{% endif %}
                    <button type="button" onclick="autoFilterMenu('af-Date')">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAB3UlEQVR4Xp2RMYsaURDH39vd7HqkSZNCFDvBQoQUfgILG7tIrCRBJZg04hamsEhIKwS2sVgIFxFOCFaS5gx2CoqHEhUiClZG2ItE18fqSrxn5oVskWOv8H7wH/bNm5k3M4uPxyNihEKhx8Abp9Ppwhg/oJTyoKNpmvpms7nWdX0FYt/E5XJdAj8RIDADCWIqlfoSi8WecBy3BtcP0MJOy+VSy+fzzyFHgcd/IzB/lU6nL6rVqqkoip7JZLR4PL70+XzE4/Gsg8Hgt3A4XAGfnEwmn7rd7mdWHof+MRwOPxBCrv1+P5VlGReLRb7X6x263e6kUCic53K5ajQa7U4mEzKfz6+sPKsAajabV7VarWAYBtY0zRBF0SEIgihJ0kN4CbPYdrvtHI1GN3CeIQs4/CdoU63X61PY1y+2wNVqNWo0GnKpVHrp9Xpf3I4X0C3K5fIrnufPYc4g6NF+vzdAkqqqdDqdfkQWdh1YAqRsNnuxWCy+z2azOsz+FnxndrGYGTsikcjrSqXyfjAYfIWlXnY6nU/IBg7dDQdgh8OBMICAkwpAZ1Z3/AkFbO/wfTvgrP/P8k8uQClld/cfgRBy2O12eDwen223W3pygVarpQQCgVgikXjX7/c/ozv4A8n3K2osMTDJAAAAAElFTkSuQmCC">
                    </button>
                    <div id="af-Date" class="autofilter">
                        <div class="af-top">
                            <div class="af-checkbkox">
                                <input type="checkbox" class="checkbox" onclick="afSelectAll(this, 'day-af')">
                            </div>
                            <div class="af-textinput">
                                <input class="textinput" type="text" placeholder="keyword" oninput="filterKeywordChange(this, 'day-af')">
                            </div>
                        </div>
                        <div class="af-body" id="day-af">
                            {% for afChoice in lch.autoFilters.days %}
                            <div class="af-selection">
                                <div class="af-checkbkox">
                                    <input type="checkbox" class="checkbox" onclick="afSelect(this)">
                                </div>
                                <div class="af-chkbxtitle">{{ afChoice.name }}</div>
                                <div class="af-qty">({{ afChoice.qty }})</div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </th>
                <th>Order</th>
                <th>Actions:</th>
            </tr>
            {% for hdd in lch.hdds %}
            <tr>
                <td>{{ hdd.hdd_serial }}</td>
                <td>{{ hdd.f_hdd_models.hdd_models_name }}</td>
                <td>{{ hdd.f_hdd_sizes.hdd_sizes_name }}</td>
                <td>{{ hdd.f_lock_state.lock_state_name }}</td>
                <td>{{ hdd.f_speed.speed_name }}</td>
                <td>{{ hdd.f_form_factor.form_factor_name }}</td>
                <td>{{ hdd.health }}%</td>
                <td>{{ hdd.days_on }} d.</td>
                <td>{{ hdd.f_hdd_order.order_name }}</td>
                <td>
                    <button type="button" onclick="editHdd({{ hdd.hdd_id }}, 2)">Edit</button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>