{% extends 'base.html' %}

{% block title %}Drive lots{% endblock %}

{% block content %}
<div class="menu2">
    <div id="filter" class="menu-div">
        <div class="item">
            <div class="textbox">Qty:</div>
            <div class="selector">
                <select id="qty" class="c-select" onchange="handleSelect(this)">
                    <option {{ lh.qtySelect.state10 }} value="&page=1&qty=10">10</option>
                    <option {{ lh.qtySelect.state20 }} value="&page=1&qty=20">20</option>
                    <option {{ lh.qtySelect.state50 }} value="&page=1&qty=50">50</option>
                    <option {{ lh.qtySelect.state100 }} value="&page=1&qty=100">100</option>
                    <option {{ lh.qtySelect.state200 }} value="&page=1&qty=200">200</option>
                    <option {{ lh.qtySelect.state1000 }} value="&page=1&qty=1000">1000</option>
                </select>
            </div>
        </div>
        <div class="item">
            {% if lh.lots %}
            <button type="button" class="button img-button" onclick="applyAFs()">Filter</button>
            {% endif %}
            <button type="button" class="button img-button" onclick="open_tar_order_import_window('{% url 'tar' %}')">Import lot's tar</button>
        </div>
    </div>
</div>
{% if lh.lots %}
<div class="pageContent">
    <table class="main-table">
        <thead>
            <tr class="header-row">
                <th>Nr.</th>
                <th>Lot Name:<button type="button" class="filter-button" onclick="autoFilterMenu('af-Name')">&#8642;</button>
                    <div id="af-Name" class="autofilter">
                        <div class="af-top">
                            <div class="af-checkbkox">
                                <input type="checkbox" onclick="afSelectAll(this, 'nam-af')">
                            </div>
                            <div class="af-textinput">
                                <input class="textinput" type="text" placeholder="keyword"
                                       oninput="filterKeywordChange(this, 'nam-af')">
                            </div>
                        </div>
                        <div class="af-body" id="nam-af">
                            {% for afChoice in lh.autoFilters.lots_names %}
                            <div class="af-selection">
                                <div class="af-checkbkox">
                                    <input type="checkbox" onclick="afSelect(this)">
                                </div>
                                <div class="af-chkbxtitle">
                                    {{ afChoice }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </th>
                <th>Date:<button type="button" class="filter-button" onclick="autoFilterMenu('af-Date')">&#8642;</button>
                    <div id="af-Date" class="autofilter">
                        <div class="af-top">
                            <div class="af-checkbkox">
                                <input type="checkbox" onclick="afSelectAll(this, 'day-af')">
                            </div>
                            <div class="af-textinput">
                                <input class="textinput" type="text" placeholder="keyword"
                                       oninput="filterKeywordChange(this, 'day-af')">
                            </div>
                        </div>
                        <div class="af-body" id="day-af">
                            {% for afChoice in lh.autoFilters.dates_of_lots %}
                            <div class="af-selection">
                                <div class="af-checkbkox">
                                    <input type="checkbox" onclick="afSelect(this)">
                                </div>
                                <div class="af-chkbxtitle">
                                    {{ afChoice|date:"c" }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </th>
                <th>Count:<button type="button" class="filter-button" onclick="autoFilterMenu('af-Count')">&#8642;</button>
                    <div id="af-Count" class="autofilter">
                        <div class="af-top">
                            <div class="af-checkbkox">
                                <input type="checkbox" onclick="afSelectAll(this, 'cnt-af')">
                            </div>
                            <div class="af-textinput">
                                <input class="textinput" type="text" placeholder="keyword"
                                       oninput="filterKeywordChange(this, 'cnt-af')">
                            </div>
                        </div>
                        <div class="af-body" id="cnt-af">
                            {% for afChoice in lh.autoFilters.counts %}
                            <div class="af-selection">
                                <div class="af-checkbkox">
                                    <input type="checkbox" onclick="afSelect(this)">
                                </div>
                                <div class="af-chkbxtitle">
                                    {{ afChoice }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </th>
                <th>Actions:</th>
            </tr>
        </thead>
        <tbody id="records">
            {% for lot in lh.lots %}
            <tr class="row">
                {{ lh.increment }}
                <td>{{ lh.index }}</td>
                <td>{{ lot.lot_name }}</td>
                <td>{{ lot.date_of_lot|date:"c" }}</td>
                <td>{{ lot.count }}</td>
                <td>
                    <button type="button" onclick="content('{% url 'lot_content' lot.lot_id %}')">Content</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination" align="center">
        <span class="step-links">
            {% if lh.lots.has_previous %}
            <button value="&page=1&qty={{ lh.qtySelect.qty }}" onclick="handleSelect(this)">&laquo; first</button>
            <button value="&page={{ lh.lots.previous_page_number }}&qty={{ lh.qtySelect.qty }}" onclick="handleSelect(this)">previous</button>
            {% endif %}
            <span class="current">Page {{ lh.lots.number }} of {{ lh.lots.paginator.num_pages }}.</span>
            {% if lh.lots.has_next %}
            <button value="&page={{ lh.lots.next_page_number }}&qty={{ lh.qtySelect.qty }}" onclick="handleSelect(this)">next</button>
            <button value="&page={{ lh.lots.paginator.num_pages }}&qty={{ lh.qtySelect.qty }}" onclick="handleSelect(this)">last &raquo;</button>
            {% endif %}
        </span>
    </div>
</div>
{% endif %}
{% endblock %}