{% block 'navbar' %}
<div class="navbar">
    {% for type in typcat %}
    <div class="dropdown">
        <button href="laptops/" class="dropbtn">{{ type.type_name }}&#9660;</button>
        <div class="dropdown-content">
            {% for cat in type %}
            <a href="{% url 'typcat' %}?type={{ type.type_name }}&cat={{ cat.category_name }}&sold=False">{{ cat.title }}</a>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    <a href="{% url 'orders' %}">Orders</a>
    <a href="{% url 'sold' %}">Sold</a>
    <a href="{% url 'chargers' %}">Chargers</a>
    <div class="dropdown">
        <button class="dropbtn">Data storage&#9660;</button>
        <div class="dropdown-content">
            <a href="{% url 'drives' %}">All storages</a>
            <a href="{% url 'lots' %}">Lots</a>
            <a href="{% url 'drive_orders' %}">Orders</a>
        </div>
    </div>
    <a href="{% url 'export' %}">Export</a>
</div>
{% endblock %}