<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New order</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<style>

.error {
  color: red;
  text-align: center;
}

</style>
<body>
    <table align="center">
        <form action="" method="post">
            <div style="width: 100%; height: 70px;">
            <div style="width: 200px; float: left;">
              <header>
                  <img src="{% static '/img/Logo.jpg' %}">
              </header>
            </div>
            <div align="center" style="padding-top: 34px">
              <input class="edit_width" type="image" name="edit" value="Edit" src=" data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAWBJREFUWIXtl7FOwzAURQ8lA9AFKZSyo3RG6kfQHQSCj2HjazqwIOAHKqEwMkViZAqUERhAMNgGtzy7cUjaCnolS8mzn++V83z1Av8dS0IsAg6AHrBZEU8OXAJ94M23cAtIgY+axjXQdpFHNZPbIiJJwPEUyM04NKQNS0DPdTQOPAKZHsPA3C8u+yhCCi4DdoBX/b4K3ALbBfNb5qHhW+XBnUUO8KJjwSgroDIsBMxcgGgIFjLk4roRYimyzSZAp4iYK0bN4gFYKZI4AWvA09je52bS9wmGjF61snjWAkTMvAZ8AjZQDvdbNIHYNekrwhhlr1IRpsDJWOwU6AprE2C9jABQ3i75u1TtXWB3wn4/MNc1sBAw1wISlMMZNHUsGPYtyAPyOsA93w4X47lqAkSuI6bXlO5LAiJUy1w3+QBYdh1Nu2YRA6yGFNy/Znuo1rklzJdBDlwAZ8B7RXv+EXwCoevGfewJkkwAAAAASUVORK5CYII=">
            </div>
            </div>
            <div class="error">
                {{ error_message|linebreaks }}
            </div>
            <div align="center">
                <font color="red">*</font> Signifies fields which must be filled in.
            </div>
            <tr>
                <th style="float:left;">Order name<font color="red">*</font>:</th>
                <td>
                    <input style="float:left;" type="text" name="order_name">
                </td>
            </tr>
            <tr>
                <th style="float:left;">Client<font color="red">*</font>:</th>
                <td>
                    <input list="clients" style="float:left;" type="text" name="client_name">
                    <datalist id="clients">
                        {% for client in noc.clients %}
                        <option value="{{ client }}">{{ client }}</option>
                        {% endfor %}
                    </datalist>
                </td>
            </tr>
            <tr>
                <th style="float:left;">Testers<font color="red">*</font>:</th>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    {% for tester in noc.testers %}
                    <div style="display: inline-block;">
                        <input type="checkbox" name="tes" value="{{ tester }}" style="float:left;width:15px;">
                        <div style="float:left;display:block;">'{{ tester }}'</div>
                    </div>
                    {% endfor %}
                </td>
            </tr>
        </form>
    </table>
</body>
</html>