<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adding the new computer</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<style>
th, td {
font-size: 13px;
}
th {
text-align: right;
padding-right: 10px;
}

input {
  width: 260px;
}

.edit_width {
  width: auto;
}

input:read-only {
  background-color: darkgrey;
}

.error {
  color: red;
  text-align: center;
}

</style>
<body>
    <table align="center">
        <form action="" method="post">
          <div style="width: 100%; height: 70px;">
            <div style="width: 200px; float: left;">
              <header>
                  <img src="{% static '/img/Logo.jpg' %}">
              </header>
            </div>
            <div align="center" style="padding-top: 34px">
              <!-- <input class="edit_width" type="submit" name="edit" value="Edit"> -->
              <input class="edit_width" type="image" name="edit" value="Edit" src=" data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAWBJREFUWIXtl7FOwzAURQ8lA9AFKZSyo3RG6kfQHQSCj2HjazqwIOAHKqEwMkViZAqUERhAMNgGtzy7cUjaCnolS8mzn++V83z1Av8dS0IsAg6AHrBZEU8OXAJ94M23cAtIgY+axjXQdpFHNZPbIiJJwPEUyM04NKQNS0DPdTQOPAKZHsPA3C8u+yhCCi4DdoBX/b4K3ALbBfNb5qHhW+XBnUUO8KJjwSgroDIsBMxcgGgIFjLk4roRYimyzSZAp4iYK0bN4gFYKZI4AWvA09je52bS9wmGjF61snjWAkTMvAZ8AjZQDvdbNIHYNekrwhhlr1IRpsDJWOwU6AprE2C9jABQ3i75u1TtXWB3wn4/MNc1sBAw1wISlMMZNHUsGPYtyAPyOsA93w4X47lqAkSuI6bXlO5LAiJUy1w3+QBYdh1Nu2YRA6yGFNy/Znuo1rklzJdBDlwAZ8B7RXv+EXwCoevGfewJkkwAAAAASUVORK5CYII=">
            </div>
            </div>
            <div class="error">
                {{ error_message|linebreaks }}
            </div>
            <div align="center">
                <font color="red">*</font> Signifies fields which must be filled in.
            </div>
            <tr>
                <th>Serial<font color="red">*</font>:</th>
                <td>
                    <input type="text" name="serial">
                </td>
            </tr>
            <tr>
                <th>Type<font color="red">*</font>:</th>
                <td>
                    <!--
                    <input type="text" name="type_name">
                    -->
                    <select name="type_name" value="">
                        <option value="" selected disabled hidden>Choose type</option>
                        {% for type in rtac.types %}
                        <option value="{{ type }}">{{ type }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Category<font color="red">*</font>:</th>
                <td>
                    <!--
                    <input type="text" name="category_name">
                    -->
                    <select name="category_name" value="">
                        <option value="" selected disabled hidden>Choose category</option>
                        {% for category in rtac.categories %}
                        <option value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Manufacturer<font color="red">*</font>:</th>
                <td>
                    <!--
                    <input type="text" name="manufacturer_name">
                    -->
                    <!--
                    <select name="manufacturer_name" value="">
                        <option value="" selected disabled hidden>Choose manufacturer</option>
                        {% for manufacturer in rtac.manufacturers %}
                        <option value="{{ manufacturer }}">{{ manufacturer }}</option>
                        {% endfor %}
                    </select>
                    -->
                    <input list="manufacturers" name="manufacturer_name">
                    <datalist id="manufacturers">
                        {% for manufacturer in rtac.manufacturers %}
                        <option value="{{ manufacturer }}"></option>
                        {% endfor %}
                    </datalist>
                </td>
            </tr>
            <tr>
                <th>Model<font color="red">*</font>:</th>
                <td>
                    <!--
                    <input type="text" name="model_name">
                    -->
                    <input list="models" name="model_name">
                    <datalist id="models">
                        {% for model in rtac.models %}
                        <option value="{{ model }}"></option>
                        {% endfor %}
                    </datalist>
                </td>
            </tr>
            <tr>
                <th>CPU:</th>
                <td>
                    <!--
                    <input type="text" name="cpu_name">
                    -->
                    <input list="cpus" name="cpu_name">
                    <datalist id="cpus">
                        {% for cpu in rtac.cpus %}
                        <option value="{{ cpu }}"></option>
                        {% endfor %}
                    </datalist>
                </td>
            </tr>
            <tr>
                <th>GPU:</th>
                <td>
                    <!--
                    <input type="text" name="gpu_name">
                    -->
                    <input list="gpus" name="gpu_name">
                    <datalist id="gpus">
                        {% for gpu in rtac.gpus %}
                        <option value="{{ gpu }}"></option>
                        {% endfor %}
                    </datalist>
                </td>
            </tr>
            <tr>
                <th>RAM:</th>
                <td>
                    <!--
                    <input type="text" name="ram_size_text">
                    -->
                    <input list="ram_sizes" name="ram_size_text">
                    <datalist id="ram_sizes">
                        {% for ram in rtac.rams %}
                        <option value="{{ ram }}"></option>
                        {% endfor %}
                    </datalist>
                </td>
            </tr>
            <tr>
                <th>HDD:</th>
                <td>
                    <!--
                    <input type="text" name="hdd_size_text">
                    -->
                    <input list="hdd_sizes" name="hdd_size_text">
                    <datalist id="hdd_sizes">
                        {% for hdd in rtac.hdds %}
                        <option value="{{ hdd }}"></option>
                        {% endfor %}
                    </datalist>
                </td>
            </tr>
            <tr>
                <th>Diagonal<font color="red">*</font>:</th>
                <td>
                    <!--
                    <input type="text" name="diagonal_text">
                    -->
                    <input list="diagonals" name="diagonal_text">
                    <datalist id="diagonals">
                        {% for diagonal in rtac.diagonals %}
                        <option value="{{ diagonal }}"></option>
                        {% endfor %}
                    </datalist>
                </td>
            </tr>
            <tr>
                <th>License<font color="red">*</font>:</th>
                <td>
                    <!--
                    <input type="text" name="license_name">
                    -->
                    <select name="license_name" value="">
                        <option value="" selected disabled hidden>Choose license</option>
                        {% for license in rtac.licenses %}
                        <option value="{{ license }}">{{ license }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Cover<font color="red">*</font>:</th>
                <td>
                    <input type="text" name="cover">
                </td>
            </tr>
            <tr>
                <th>Display:</th>
                <td>
                    <input type="text" name="display">
                </td>
            </tr>
            <tr>
                <th>Bezel<font color="red">*</font>:</th>
                <td>
                    <input type="text" name="bezel">
                </td>
            </tr>
            <tr>
                <th>HDD cover<font color="red">*</font>:</th>
                <td>
                    <input type="text" name="hdd_cover">
                </td>
            </tr>
            <tr>
                <th>RAM cover<font color="red">*</font></th>
                <td>
                    <input type="text" name="ram_cover">
                </td>
            </tr>
            <tr>
                <th>Other<font color="red">*</font></th>
                <td>
                    <input type="text" name="other">
                </td>
            </tr>
            <tr>
                <th>Tester<font color="red">*</font>:</th>
                <td>
                    <!--
                    <input type="text" name="tester_name">
                    -->
                    <select name="tester_name" value="">
                        <option value="" selected disabled hidden>Choose tester</option>
                        {% for tester in rtac.testers %}
                        <option value="{{ tester }}">{{ tester }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
        </form>
    </table>
</body>
</html>
