<div class="table-holder">
    <input type="hidden" name="processor" value="{{ processor.id_processor }}" />
    {% if computer_id %}
    <button type="button" class="close_button" onclick="remove_processor_from_computer(this, {{ computer_id }}, {{ processor.id_processor }})">x</button>
    {% else %}
    <button type="button" class="close_button" onclick="remove_item(this)">x</button>
    {% endif%}
    <table class="table">
        <tr>
            <th>Manufacturer:</th>
            <td><input class="input" type="text" name="proc_manufacturername_{{ processor.id_processor }}" value="{{ processor.f_manufacturer.manufacturer_name }}" readonly="readonly"></td>
        </tr>
        <tr>
            <th>Model:</th>
            <td><input class="input" type="text" name="proc_modelname_{{ processor.id_processor }}" value="{{ processor.model_name }}" readonly="readonly"></td>
        </tr>
        <tr>
            <th>Stock clock:</th>
            <td><input class="input" type="text" name="proc_stockclock_{{ processor.id_processor }}" value="{{ processor.stock_clock }}" readonly="readonly"></td>
        </tr>
        <tr>
            <th>Max clock:</th>
            <td><input class="input" type="text" name="proc_maxclock_{{ processor.id_processor }}" value="{{ processor.max_clock }}" readonly="readonly"></td>
        </tr>
        <tr>
            <th>Core count:</th>
            <td><input class="input" type="text" id="coreCount" name="proc_cores_{{ processor.id_processor }}" value="{{ processor.cores }}" readonly="readonly"></td>
        </tr>
        <tr>
            <th>Thread count:</th>
            <td><input class="input" type="text" id="threadCount" name="proc_threads_{{ processor.id_processor }}" value="{{ processor.threads }}" readonly="readonly"></td>
        </tr>
    </table>
</div>