{% block 'search' %}
<div class="search">
    <div class="c-input">
        <input type="text" id="search_input" class="c-inputbox" name="search-keyword" placeholder="Search keyword">
        <button class="c-button" type="button" onclick="search_using_keyword()">Search</button>
    </div>
     <!--
     <div class="c-man-filter-placeholder">
         <div>
             <div id="manual-filters">
                 <div class="mfs-box">
                     <div class="man-filter-title">Screen</div>
                     <div class="manual-filter-selection">
                         <input class="mfs-checkbox" type="checkbox" name="" value="">
                         <div class="mfs-fieldname">13.3"</div>
                     </div>
                     <div class="manual-filter-selection">
                         <input class="mfs-checkbox" type="checkbox" name="" value="">
                         <div class="mfs-fieldname">14.0"</div>
                     </div>
                     <div class="manual-filter-selection">
                         <input class="mfs-checkbox" type="checkbox" name="" value="">
                         <div class="mfs-fieldname">15.6"</div>
                     </div>
                 </div>
                 <div class="mfs-box">
                     <div class="man-filter-title">Camera</div>
                     <div class="manual-filter-selection">
                         <input class="mfs-checkbox" type="checkbox" name="" value="">
                         <div class="mfs-fieldname">Yes</div>
                     </div>
                     <div class="manual-filter-selection">
                         <input class="mfs-checkbox" type="checkbox" name="" value="">
                         <div class="mfs-fieldname">No</div>
                     </div>
                 </div>
                 <div class="mfs-box">
                     <div class="man-filter-title">Misc</div>
                     <div class="manual-filter-selection">
                         <input class="mfs-checkbox" type="checkbox" name="" value="">
                         <div class="mfs-fieldname">GPU=Intel</div>
                     </div>
                     <div class="manual-filter-selection">
                         <input class="mfs-checkbox" type="checkbox" name="" value="">
                         <div class="mfs-fieldname">CPU=i3</div>
                     </div>
                     <div class="manual-filter-selection">
                         <input class="mfs-checkbox" type="checkbox" name="" value="">
                         <div class="mfs-fieldname">CPU=i5</div>
                     </div>
                     <div class="manual-filter-selection">
                         <input class="mfs-checkbox" type="checkbox" name="" value="">
                         <div class="mfs-fieldname">CPU=i7</div>
                     </div>
                 </div>
                 <div class="mfs-box">
                     <div class="man-filter-title">Other</div>
                     <div class="manual-filter-selection">
                         <input class="mfs-checkbox" type="checkbox" name="" value="">
                         <div class="mfs-fieldname">Other is empty</div>
                     </div>
                     <div class="manual-filter-selection">
                         <input class="mfs-checkbox" type="checkbox" name="" value="">
                         <div class="mfs-fieldname">Other contains "security mark"</div>
                     </div>
                     <div class="manual-filter-selection">
                         <input class="mfs-checkbox" type="checkbox" name="" value="">
                         <div class="mfs-fieldname">^ Other is neither of those ^</div>
                     </div>
                 </div>
             </div>
         </div>
         <button id="manual-filter-button" class="c-man-filter-button" type="button" onclick="manButPress()">&nbsp;&#8643; Show manual filters &#8642;&nbsp;</button>
     </div>
     -->
 </div>
{% endblock %}