{% block 'table' %}
{% if po and computers  %}
{% include 'computersSubTemplate.html' %}
{% elif orders %}
{% include 'computerOrdersSubTemplate.html' %}
{% elif computers %}
{% include 'soldComputersSubTemplate.html' %}
{% elif cch %}
{% include 'chargersCategoriesSubtemplate.html' %}
{% elif lh %}
{% include 'hddLotsSubTemplate.html' %}
{% elif hh.hdds %}
{% include 'hddsSubTemplate.html' %}
{% elif oh %}
{% include 'hddOrdersSubTemplate.html' %}
{% else %}
{% include 'noRecordsSubTemplate.html' %}
{% endif %}
{% endblock %}